.dashboard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.title {
    margin-left: 12px;
}

.title,
.info {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

.info {
    margin-left: auto;
    margin-right: 28px;
    display: flex;
    position: relative;
    flex-direction: row;
}

.support,
.reject {
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    display: block;
    margin: 4px;
    padding-left: 26px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
}

.support {
    background: #15B48E;
}

.reject {
    background: #EF6461;
}

.votingPowerContainer {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.votingPowerText {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 4px;
    margin-left: auto;
}

.votingPowerValue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}
