.header {
    width: 884px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 26px;
}

.title {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 0;
}

.titleContainer {
    display: inline-block;
}

.titleContainer span {
    vertical-align: top;
    display: inline-block;
    position: relative;
    border-radius: 4px;
    background: #48DA82;
    color: #FFF;
    font-weight: 400;
    line-height: 20px;
    margin-left: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 3px;
}

.update {
    margin-top: 15px;
    font-weight: 400;
    display: inherit;
    flex-direction: inherit;
    align-self: flex-start;
}