.progressContainer {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.textLeft,
.textRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #2A2B38;
    font-family: 'Plus Jakarta Sans';
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
}

.textLeft {
    left: 10px;
}

.textRight {
    right: 10px;
    text-align: right;
}

.progressBarContainer {
    position: relative;
}

.supportProgressBar,
.rejectProgressBar {
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.supportProgressBar {
    background-color: rgba(21, 180, 142, 0.25);
}

.rejectProgressBar {
    background-color: rgba(239, 100, 97, 0.25);
}
