.title {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    margin-bottom: 16px;
    margin-top: 6px;
    margin-left: 6px;
}

.line {
    width: 836px;
    height: 1px;
    opacity: 0.5;
    background: #B9BACC;
    margin-left: 6px;
}

.textContainer {
    color: #2A2B38;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main,
.info {
    width: calc(50% - 20px);
    margin: 10px;
    box-sizing: border-box;
}

.info {
    display: flex;
    flex-direction: row;
}

.viewVotes {
    margin-top: 20px;
    color: #2A2B38;
    font-family: 'Plus Jakarta Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-decoration-line: underline;
}

.infoTitles,
.infoContents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoTitles p,
.infoContents p {
    margin: 0;
}

.infoTitles {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.infoContents {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.info div {
    flex: 1;
    max-width: calc(50% - 20px);
    margin: 10px;
    box-sizing: border-box;
}

.rowContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.required {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px; /* 160% */
    opacity: 0.5;
}